<section ng-class="{option1: option1open, option2: option2open, option3: option3open}" id="contactpanel" >
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h1 title="font size: 24px, color: blue, line-height: 22">Want to know more?</h1>
				<h2>Contact our customer support team:</h2>
				<h3>Email: <span class="blue">support@serviceseeking.com.au</span></h3>
				<h3>Phone: <span class="blue">1300 304 647</span> (Mon - Fri during business hours)</h3>
			</div>
		</div>
	</div>
</section>