<section ng-class="{option1: option1open, option2: option2open, option3: option3open}" id="detailspanel" >
	<div class="container">
		<div class="row">
			<div class="col-md-10  col-md-offset-1">
				<h1>Peace of mind for service seekers</h1>
				<h2>Although you’re unlikely to experience any issues with property damage when hiring a business on ServiceSeeking.com.au, we understand that you may need protection. The Guarantee will reinburse you for up to $1,000 in damages for any eligible job. </h2>
				<h3 class="herotext">It’s another reason why we’re Australia’s most trusted services marketplace.</h3>
			</div>
		</div>
	</div>
</section>

<section ng-class="{option1: option1open, option2: option2open, option3: option3open}" id="detailspanel2">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="row details-box">
					<div class="col-md-6">
						<h3>
							What does the Guarantee protect?
						</h3>
						<p>
							The ServiceSeeking.com.au Guarantee provides protection for up to $1,000 in damages to eligible property in the rare event a business you hired on ServiceSeeking.com.au causes damages which are not resolved directly with the business. 
						</p>
						<p>
							To be eligible you must let us know who you hired before the commencement of the job. These payments are subject to certain conditions, limitations, and exclusions, the details of which can be found in our ServiceSeeking.com.au Guarantee terms and conditions. 
						</p>
						<p>
							ServiceSeeking.com.au has the discretion to pay out any claim at any time.  The claim request can be submitted by email to 
							<br><br>claims@serviceseeking.com.au.Customers<br><br> 
							seeking payment under the Guarantee agree to cooperate with ServiceSeeking.com.au, including providing documentation of the loss they’re claiming and agreeing to inspection in the rare cases it may be necessary. 
						</p>
					</div>
					<div class="col-md-6">
						<h3>
							What does the Guarantee not protect?
						</h3>
						<p>
							The ServiceSeeking.com.au Guarantee is not insurance and should not be considered as a replacement or stand-in for homeowners or public liability insurance.  
						</p>
						<p>
							The ServiceSeeking.com.au Guarantee does not protect:
						</p>
						<ul>
							<li>cash and securities</li>
							<li>pets</li>
							<li>personal effects</li>
							<li>personal liability</li>
						</ul>
						<p>
							Certain types of property, such as jewellery, collectables and artwork have more limited protections. Customers may want to secure or remove such valuables when hiring a business to work on their property. The ServiceSeeking.com.au Guarantee does not protect reasonable wear and tear.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>