<section ng-class="{option1: option1open, option2: option2open, option3: option3open}" id="detailspanel" >
	<div class="container">
		<div class="row">
			<div class="col-md-10  col-md-offset-1">
				<h1>Peace of mind for Service Seekers</h1>
				<h2>Although you’re unlikely to experience any issues with property damage when hiring a business on ServiceSeeking.com.au, we understand that you may need protection. The Cover will reinburse you for up to $1,000 in damages for any eligible job. </h2>
				<h3 class="herotext">It’s another reason why we’re Australia’s most trusted services marketplace.</h3>
			</div>
		</div>
	</div>
</section>

<section ng-class="{option1: option1open, option2: option2open, option3: option3open}" id="detailspanel2">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="row details-box">
					<div class="col-md-12">
						<h3>$1,000 Cover - Terms and Conditions</h3>
						<p>
							The following terms and conditions are subject to the Service Seeking User Agreement available at <a href="http://www.serviceseeking.com.au/conditions">http://www.serviceseeking.com.au/conditions</a> and apply to Customers who have earned the right to the $1,000 Cover (the “Program”). Only a customer who hired a business on Service Seeking may submit a claim under the Program. Reference to “you” and “your” in these terms and conditions refer to the applicable Customer that wishes to use the Program. You agree to abide by these terms and conditions when taking advantage of the Program. If you do not agree with these terms and conditions, you are prohibited from using the Program.
						</p>
					</div>
				</div>
				<div class="row details-box">
					<div class="col-md-12">
						<h5 class="col-md-4">Eligible Job</h5>
						<p class="col-md-8">Customers must report to Service Seeking which business they hired to do the job before the work commences for their job to become eligible under the Program. </p>
					</div>
					<div class="col-md-12">
						<h5 class="col-md-4">Losses Covered</h5>
						<p class="col-md-8">Customers who hired a business that caused damage to property that you own or rent. Damage excluded from this Program includes cash, securities, personal items and pets. Service Seeking will request proof of the alleged damage. </p>
					</div>
					<div class="col-md-12">
						<h5 class="col-md-4">Customers have limited time to complete a claim</h5>
						<p class="col-md-8">Your claim must be initiated by sending an email to support@serviceseeking.com.au within 14 days from the date the damaged occurred. Service Seeking will then determine whether your job is eligible for a claim, and send you the relevant form.</p>
					</div>
					<div class="col-md-12">
						<h5 class="col-md-4">Abuse of the program</h5>
						<p class="col-md-8">Service Seeking will investigate all claims under this Program and determine resolutions on a case-by-case basis. Service Seeking reserves the right to limit the dollar amount you may be credited and the number of claims you may file under this Program. Service Seeking may report any attempts to abuse the Program to the appropriate legal authorities.</p>
					</div>
					<div class="col-md-12">
						<h5 class="col-md-4">Program term</h5>
						<p class="col-md-8">The Program is effective as of May 1, 2015, and Service Seeking reserves the right to terminate the Program at any time.</p>
					</div>
					<div class="col-md-12">
						<h5 class="col-md-4">Service Seeking's right to amend the program</h5>
						<p class="col-md-8">If we change the terms of this Program, which we reserve the right to do in our sole discretion, we will post a revised version of these terms and conditions on the Service Seeking website, which will automatically replace the prior terms and conditions applicable to the Program. Your use of the Program following the effective date of the revised terms and conditions will constitute your acceptance of the revised terms and conditions.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>