<div class="email-panel" id="footer"
        style="
          display: block;
          padding: 32px 64px;
          border: none;
          background: #0d395c;
          height: 208px;
        "
      >
        <div class="1-column-of-2"
          style="
            float: left;
            margin-right: 18px;
            width: 259px;
          "
        >
          <img src="assets/emails/logo-full-reverse.png" 
          style="
            margin: 0 0 16px 0;
          "
          />
          <p class="contacts"
            style="
              font-family: 'prx-nova','verdana','tahoma', sans-serif;
              color: #8ab7d0;
              font-size: 11px;
              line-height: 16px;
            "
          >
            <img src="assets/emails/email-icon.png" style="margin-right: 5px;" /> support@serviceseeking.com.au<br>
            <img src="assets/emails/phone-icon.png" style="margin-right: 5px;" /></i> 1 300 304 647<br>
          </p>
        </div>
        <div class="1-column-of-2"
          style="
            float: left;
            width: 299px;
          "
        >
          <a class="email-links" 
          style="
            display: inline-block;
            margin-right: 16px;

            font-family: 'prx-nova','verdana','tahoma',sans-serif;
            color: white;
            font-weight: 800;
            font-size: 11px;
            line-height: 22.5px;
            margin-bottom: 16px;
          "
          >Get Quotes
          </a>
          <a class="email-links" 
          style="
            display: inline-block;
            margin-right: 16px;

            font-family: 'prx-nova','verdana','tahoma',sans-serif;
            color: white;
            font-weight: 800;
            font-size: 11px;
            line-height: 22.5px;
            margin-bottom: 16px;
          "
          >How it Works
          </a>
          <a class="email-links" 
          style="
            display: inline-block;
            margin-right: 14px;

            font-family: 'prx-nova','verdana','tahoma',sans-serif;
            color: white;
            font-weight: 800;
            font-size: 11px;
            line-height: 22.5px;
            margin-bottom: 16px;
          "
          >List Your Business
          </a>
          <img src="assets/emails/facebook-link.png"
            style="
              margin-right: 10px;
            "
          />
          <img src="assets/emails/twitter-link.png"
            style="
              margin-right: 10px;
            "
          />
          <img src="assets/emails/googleplus-link.png"
            style="
              margin-right: 10px;
            "
          />
          <img src="assets/emails/pinterest-link.png"
            style="
              margin-right: 10px;
            "
          /><br><br>
          <img src="assets/emails/appstore-dl.png" />     
          <img src="assets/emails/playstore-dl.png" />
        </div>
        <p class="contacts"
            style="       
              font-family: 'prx-nova','verdana','tahoma', sans-serif;
              color: #8ab7d0;
              font-size: 9px;
              line-height: 16px;
              float: left;
              width: 100%;
              margin-top: 24px;
            "
          >
          © Service Seeking Pty Ltd 2007-2014. All rights reserved. SERVICE SEEKING® is a registered trade mark of Service Seeking Pty Ltd.
        </p>
      </div>