<section ng-class="{option1: option1open, option2: option2open, option3: option3open, confirmed: showconfirmation}" id="formpanel">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<form>
					<div class="row form-item" ng-hide="showconfirmation">
						<h3 class="col-md-8">Are you hiring Crisp Architects for your Home Design job?</h3>
						<div class="col-md-4">
							<button ng-class="{active: ishiring}" ng-click="ishiring = !ishiring; isnothiring = false;">Yes</button>
							<button ng-class="{active: isnothiring}" ng-click="isnothiring = !isnothiring; ishiring = false;">No</button>
						</div>
					</div>
					<div class="row form-item" ng-show="isnothiring&&!showconfirmation">
						<h3 class="col-md-8">Which business are you hiring?</h3>
						<div class="col-md-12 businesslist">
							<li class="grid-option col-md-4" ng-click="ishiringother = true; deactivateAll(); alt1 = !alt1" ng-class="{active: alt1}">
								<a class="title">Ozfresh007</a>
								<h5>@ Ozfresh Cleaning Consultants</h5>
								<h5>1 800 655 2365</h5>
							</li>
							<li class="grid-option col-md-4" ng-click="ishiringother = true; deactivateAll(); alt2 = !alt2" ng-class="{active: alt2}">
								<a>Eduardo Freitas</a>
								<h5>@ Tabueno Software</h5>
								<h5>1 800 654 9998</h5>
							</li>									
							<li class="grid-option col-md-4" ng-click="ishiringother = true; deactivateAll(); alt3 = !alt3" ng-class="{active: alt3}">
								<a>International Printing Services</a>
								<h5>@ Inernational Printing</h5>
								<h5>1 800 655 5246</h5>
							</li>									
							<li class="grid-option col-md-4" ng-click="ishiringother = true; deactivateAll(); alt4 = !alt4" ng-class="{active: alt4}">
								<a>born2try</a>
								<h5>@ Neightbours Cleaning</h5>
								<h5>1 800 665 5483</h5>
							</li>									
							<li class="grid-option special-option col-md-12" ng-click="ishiringother = true; deactivateAll(); alt5 = !alt5" ng-class="{active: alt5}">
								<a>I hired someone outsie ServiceSeeking.com.au</a>
							</li>
						</div>
					</div>
					<div class="row form-item" ng-show="(ishiring||ishiringother)&&!showconfirmation">
						<h3 class="col-md-8">When is the job going ahead?</h3>
						<div class="col-md-4">
							<div>
								<div class="dropdown col-md-6">
									<li class="dropdown-toggle" data-toggle="dropdown">
										<a class="title">Month</a>            
										<i class="fa fa-caret-down right"></i>
									</li>
									<ul class="dropdown-menu dropdown-menu-left" role="menu">
										<li><a class="dropdown-option" role="menuitem">Jan</a></li>
										<li><a class="dropdown-option" role="menuitem">Feb</a></li>
									</ul>
								</div>
								<div class="dropdown col-md-6">
									<li class="dropdown-toggle" data-toggle="dropdown">
										<a class="title">Year</a>            
										<i class="fa fa-caret-down right"></i>
									</li>
									<ul class="dropdown-menu dropdown-menu-left" role="menu">
										<li><a class="dropdown-option" role="menuitem">2015</a></li>
										<li><a class="dropdown-option" role="menuitem">2016</a></li>
									</ul>
								</div>
							</div>							
						</div>	
					</div>	
					<input type="submit" value="Get Protected" ng-click="handleSubmit()" ng-hide="showconfirmation||(!ishiring&&!ishiringother)"/>
					<div class="confirmation" ng-show="showconfirmation">
						<i class="fa fa-times close-confirmation col-md-1 col-md-offset-11" ng-click="showconfirmation = false"></i>
						<h3>Thanks for letting us know</h3>
						<h1>Your job is now protected under the <br><span class="title">ServiceSeeking.com.au Guarantee.</span></h1>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>