<section ng-class="{option1: option1open, option2: option2open, option3: option3open}" id="headerpanel" >
	<div class="container">
		<div class="row">
			<div class="col-md-12 badge-box">				
				<img class="badge-image" src="assets/badge.png" />
			</div>
			<div class="col-md-10  col-md-offset-1">
				<h1 title="">The ServiceSeeking.com.au Guarantee</h1>
				<h2>Let us know who you're hiring and when the job is going ahead. <br>If something goes wrong, you're covered up to $1,000.</h2>
			</div>
		</div>
	</div>
</section>