//variables
$blue-dark: #005581;
$blue-medium: #0D395C;
$blue-light: #2F87B0;
$blue-main: #006DA0;


//blacks
$k85: rgba(0,0,0,0.85);
$k75: rgba(0,0,0,0.75);
$k65: rgba(0,0,0,0.65);
$k55: rgba(0,0,0,0.55);
$k50: rgba(0,0,0,0.50);
$k45: rgba(0,0,0,0.45);
$k40: rgba(0,0,0,0.40);
$k35: rgba(0,0,0,0.35);
$k30: rgba(0,0,0,0.30);
$k25: rgba(0,0,0,0.25);
$k20: rgba(0,0,0,0.20);
$k15: rgba(0,0,0,0.15);
$k12: rgba(0,0,0,0.12);
$k10: rgba(0,0,0,0.10);
$k08: rgba(0,0,0,0.08);
$k06: rgba(0,0,0,0.06);
$k05: rgba(0,0,0,0.05);
$k04: rgba(0,0,0,0.04);
$k02: rgba(0,0,0,0.02);