#detailspanel, #detailspanel2 {
	.herotext {
		text-align: center;
		color: $blue-main;
		font-weight: 900;
		padding: 30px 0;
		font-size: 32px;
		line-height: 1.45em;
	}

	.details-box {
		background: #E2E1E1;
		padding: 60px;
		margin: 16px;
	}

	p, ul li {
		font-size: 16px;
		line-height: 1.45em;
		color: #605D5D;
		list-style-type: disc;
	}

	h3 {
		color: $blue-dark;
		font-weight: 900;
		padding-bottom: 40px;
		font-size: 30px;
		line-height: 1.45em;
		padding-top: 30px;
	}

	p, h3 {
		padding-left: 6px;
		padding-right: 6px;
	}
}

#detailspanel {
	&.option3 {
		padding-top: 180px;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.85)), url('../images/banner5.jpg');
		background-size: cover;
		padding-bottom: 32px;
		background-position: (0%) (55%);

		h2 {
			font-weight: 800;
		}		

		h1, h2, h3 {
			color: white;
		}
	}	
}

#detailspanel2 {
	padding-top: 0;	

	&.option2 {
		background: $blue-dark;
		margin-bottom: 0;

		.details-box {
			padding: 40px 0;
			background: transparent;

			h3 {
				color: white;
			}

			p {
				color: rgba(230,220,255, 0.85);

				.blue {
					color: white
				}

				.black {
					color: white;
				}
			}
		}
	}

	&.option3 {
		background: transparent;
		margin-bottom: 0;

		.details-box {
			background: transparent;
			padding: 40px 0;
		}
	}
}