#formpanel {
	form {
		background: #E2E1E1;
		padding:60px;
	}

	h3 {
		font-size: 24px;
		color: $blue-dark;
		font-weight: 900;
		line-height: 36px;
	}

	.form-item {
		margin-bottom: 36px;
	}

	.datewidget {
		padding-bottom: 36px;
	}

	input[type="submit"], button {
		width: 100%;
		background: $blue-light;
		color: white;
		font-size: 24px;
		font-weight: 800;
		padding: 20px 0;
		border: none;
		outline: none;
		font-family: "prx-nova";		
		margin-top: 16px;

		&.inactive {
			background: rgba(0,0,0,0.2);
			color: rgba(255,255,255,0.2);
			cursor: default;
		}
	}

	button {
		width: 50%;
		float: left;
		font-size: 18px;
		color: $blue-dark;
		padding: 12px 0;
		margin-top: 10px;
		margin-bottom: 35px;

		background: #ECEBEB;
		border: 1px lightgray solid;
		border-right: none;

		&:last-child {
			border-right: 1px lightgray solid;
		}

		-webkit-box-sizing: border-box;

		&.active {
			background: $blue-dark;
			color: white;
		}
	}

	.dropdown {
		background: #ECEBEB;
		margin-top: 14px;
		padding: 4px 0px;
		border: 1px lightgray solid;
		border-right: none;

		&:last-child {
			border-right: 1px lightgray solid;
		}

		cursor: pointer;

		.dropdown-toggle {
			padding: 0 32px;
			a, i {
				color: $blue-dark;
				font-weight: 800;
				line-height: 36px;
			}
		}

		h5 {
			color: $blue-dark;
			font-size: 12px;
			margin-bottom: 3px;
			opacity: 0.7;
		}

		.dropdown-menu {
			background: $blue-dark;
			min-width: 100%;
			max-width: 100%;
			border-top: 1px solid $blue-light;

			.dropdown-option:hover {
				background: $blue-main;
			}

		}

		&.open {
			padding: 5px 1px;
			border: none;
			background: $blue-dark;

			a, i, h5 {
				color: white;
			}		
		}

		&.businesslist {
			padding-bottom: 12px;

			.dropdown-option {
				padding: 14px 36px;
				a {
					padding: 0;
					max-width: 100%;

					&:hover {
						background: transparent;
					}
				}
			}

			.special-option {
				background: $blue-medium;
			}
		}
	}

	&.confirmed {
		form {
			background: $blue-main;
			-webkit-border-radius: 30px;
			-moz-border-radius: 30px;
			border-radius: 30px;
			border: $blue-dark 16px solid;
		}	
	}	

	.confirmation {
		h1, h3 {
			text-align: center;
		}

		h3 {
			padding-bottom: 0;
			color: rgba(255,255,255,0.8);
		}

		h1 {
			font-size: 24px;
			color: rgba(255,255,255,0.6);

			.title {
				color: white;
				font-weight: 900;
				font-size: 36px;
			}
		}

		.close-confirmation {
			text-align: right;
			font-size: 24px;
			color: rgba(255,255,255,0.4);
			margin-top: -20px;
		}
	}

	&.option2 {
		background: $blue-main;
		margin-top: 64px;
		padding-top: 0;

		form {
			background: transparent;

			h3 {
				color: white;
			}
		}

		input {
			background: orange;
		}

		&.confirmed {
			form {
				-webkit-border-radius: 30px;
				-moz-border-radius: 30px;
				border-radius: 30px;
				border: none;
			}
		}		
	}

	&.option3 {
		margin-top: 0;
		padding-top: 0;
		background: #E2E1E1;

		form {
			background: transparent;

			input[type="submit"] {
				background: #70BD36;

				&.inactive {
					background: rgba(0,0,0,0.2);
					color: rgba(255,255,255,0.2);
					cursor: default;
				}
			}
		}

		&.confirmed {
			background: $blue-main;
			form {
				-webkit-border-radius: 30px;
				-moz-border-radius: 30px;
				border-radius: 30px;
				border: none;				
			}
		}
	}

}